.navigation.contain-to-grid{ data: { magellan: { expedition: 'fixed' } } }
  %nav.top-bar{ data: { topbar: '' } }

    %ul.language-area.hide-for-small-only
      %li= language_link

    %ul.title-area
      %li.name= link_to image_tag('railsgirls-logo.png', alt: 'Rails Girls'), '/'
      %li.toggle-topbar.menu-icon= link_to content_tag(:span, 'Menu'), '#'

    .top-bar-section
      %ul
        %li.active{ data: { magellan: { arrival: 'home' } } }= link_to t('layout.navigation.home'), '#home'
        %li{ data: { magellan: { arrival: 'schedule' } } }= link_to t('layout.navigation.schedule'), '#schedule'
        %li{ data: { magellan: { arrival: 'information' } } }= link_to t('layout.navigation.information'), '#information'
        %li{ data: { magellan: { arrival: 'faq' } } }= link_to t('layout.navigation.faq'), '#faq'
        %li{ data: { magellan: { arrival: 'team' } } }= link_to t('layout.navigation.team'), '#team'
        %li{ data: { magellan: { arrival: 'location' } } }= link_to t('layout.navigation.location'), '#location'
        %li.show-for-small-only= language_link
