.navigation.contain-to-grid{ data: { magellan: { expedition: 'fixed' } } }
  %nav.top-bar{ data: { topbar: '' } }

    %ul.language-area.hide-for-small-only
      %li= language_link

    %ul.title-area
      %li.name= link_to image_tag('railsgirls-logo.png', alt: 'Rails Girls'), '/'
      %li.toggle-topbar.menu-icon= link_to content_tag(:span, 'Menu'), '#'

    .top-bar-section
      %ul
        %li.active{ data: { magellan: { arrival: 'home' } } }= link_to t('layout.navigation.home'), i18n_link_anchor('home')
        %li{ data: { magellan: { arrival: 'schedule' } } }= link_to t('layout.navigation.schedule'), i18n_link_anchor('schedule')
        %li{ data: { magellan: { arrival: 'information' } } }= link_to t('layout.navigation.information'), i18n_link_anchor('information')
        %li{ data: { magellan: { arrival: 'team' } } }= link_to t('layout.navigation.team'), i18n_link_anchor('team')
        %li{ data: { magellan: { arrival: 'location' } } }= link_to t('layout.navigation.location'), i18n_link_anchor('location')
        %li.show-for-small-only= language_link
