.row{ id: i18n_link_id_for_anchor('sponsors') }
  .columns.large-12
    %section.sponsors.clearfix
      %h3= t('home.index.sponsors.header')

      %ul
        %li= link_to image_tag('avarteq.png', alt: 'Avarteq'), 'http://www.avarteq.de', target: '_blank'
        %li= link_to image_tag('github.png', alt: 'Github'), 'https://github.com/', target: '_blank'
