/* home -------------------------- */
body.home
  &.index
    .header
      background: url(asset-path('header.png')) no-repeat 50% 50%
      background-size: cover
      -webkit-background-size: cover
      -moz-background-size: cover
      -o-background-size: cover
      color: $white
      padding: rem-calc(200) 0

      @media #{$small-only}
        text-align: center

      &__logo
        padding:
          right: 1.25rem

      &__content
        padding:
          left: rem-calc(10)

        @media #{$small-only}
          padding:
            left: 0 !important

      &__text
        text-shadow: rem-calc(1) rem-calc(1) $black

      &__buttons
        a, p
          margin:
            bottom: 0

      h1
        color: $primary-color
        line-height: 1
        text-shadow: rem-calc(1) rem-calc(1) #460D0D

      small
        color: $white
        font-size: 50%
        text-shadow: rem-calc(1) rem-calc(1) $black


    .features
      @extend .clearfix

      @media #{$small-only}
        text-align: center


    .schedule
      @extend .clearfix

      @media #{$small-only}, #{$medium-only}
        text-align: center

      div.columns
        margin:
          top: rem-calc(15)

      @media #{$small-only}
        &__item
          margin-top: 0


    .information
      @extend .clearfix

      text-align: center
      border:
        bottom: none


    .faq
      @extend .clearfix

      text-align: center


    .team
      @extend .clearfix

      text-align: center
      padding:
        bottom: rem-calc(60)

      &__member
        display: inline-block
        padding: 0 0 rem-calc(20)
        min-width: rem-calc(300)
        max-width: rem-calc(300)

        &__image
          width: rem-calc(98)
          height: rem-calc(98)
          border: rem-calc(1) solid $text
          border-radius: rem-calc(100)
          float: left
          margin:
            bottom: 0

        &__content
          margin:
            left: rem-calc(10)
          float: left
          text-align: left

        &__name
          color: $primary-color

      .columns
        @extend .clearfix


    .sponsors
      @extend .clearfix

      text-align: center
      padding:
        top: rem-calc(60)
      border:
        bottom: none

      ul
        margin: rem-calc(25) 0

        li
          display: inline-block
          list-style: none
          margin: rem-calc(15) rem-calc(25)

          img
            width: rem-calc(185)


    .location
      border:
        bottom: none

      @media #{$small-only}, #{$medium-only}
        text-align: center

      &__description
        float: left

        @media #{$small-only}, #{$medium-only}
          float: none

      &__map-link
        margin:
          top: rem-calc(20)

      &__map
        float: right

        @media #{$small-only}, #{$medium-only}
          float: none

      .columns
        @extend .clearfix


    .action
      @extend .panel

      text-align: center
      height: rem-calc(98)

      @media #{$small-only}
        height: rem-calc(151)

      a
        border: rem-calc(1) solid $white
        margin:
          left: rem-calc(25)

        @media #{$small-only}
          margin: rem-calc(25) auto 0

      @media #{$medium-up}
        .hide-for-small-only
          display: inline-block !important


    section a
      text-decoration: underline


  &.legal-info
    section
      text-align: center
      border:
        bottom: none

      h2
        margin:
          top: rem-calc(50)
