/* navigation -------------------------- */
.navigation

  @media #{$small-only}, #{$medium-only}
    &.fixed
      display: none

  &__content
    text-align: center

    &.expanded
      .navigation__title-area__menu-icon
        a
          color: $white

          span::after
            box-shadow: 0 0 0 rem-calc(1) $white, 0 rem-calc(7) 0 rem-calc(1) $white, 0 rem-calc(14) 0 rem-calc(1) $white

  &__language-switch
    float: right

    @media #{$small-only}, #{$medium-only}
      right: rem-calc(96)
      position: absolute

    li
      padding: 0 rem-calc(10)

      &:hover
        background-color: scale-color($primary-color, $lightness: -14%)

      a
        color: white
        font-size: 0.8125rem
        font-weight: bold
        line-height: 3.125rem
        text-transform: uppercase

  &__title-area

    @media #{$small-only}
      position: static

    @media #{$medium-only}
      margin:
        right: rem-calc(100)
      position: static

    &__logo
      @media #{$small-only}
        float: left

      img
        margin:
          top: rem-calc(13)
          left: rem-calc(15)
        width: rem-calc(140)

    &__menu-icon
      top: rem-calc(25) !important
      margin:
        top: -rem-calc(26) !important
      padding:
        top: rem-calc(10)

      &:hover
        height: 3.125rem
        background-color: scale-color($primary-color, $lightness: -14%)

  &__links
    position: static

    ul
      display: inline-block

      @media #{$medium-only}
        display: inline !important

      li
        a
          text-transform: uppercase

    @media #{$small-only}
      &__language-switch
        display: list-item !important
