%footer
  %p= t('layout.footer.content', contact: mail_to('railsgirlssb@gmail.com', t('layout.footer.contact_us'), encode: 'javascript'),
  twitter: link_to('Twitter', 'http://twitter.com/RailsGirlsSB', target: '_blank'),
  facebook: link_to('Facebook', 'https://www.facebook.com/RailsGirlsSB', target: '_blank')).html_safe
  %p.slogan= t('layout.footer.slogan')

- if Rails.env.production?
  :javascript
    var _paq = _paq || [];
    _paq.push(["setCookieDomain", "*.railsgirlssb.de"]);
    _paq.push(["setDoNotTrack", true]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//104.155.56.114/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
